<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>611210503723-no4pvmsatpap849pq1qit7gdl03p0pl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611210503723-no4pvmsatpap849pq1qit7gdl03p0pl9</string>
	<key>API_KEY</key>
	<string>AIzaSyAHbXO1dqBNuuTbqZgKul9NPz2p8zcVXcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>611210503723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igrid.poupeagua</string>
	<key>PROJECT_ID</key>
	<string>poupe-agua</string>
	<key>STORAGE_BUCKET</key>
	<string>poupe-agua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611210503723:ios:64090db8d0ca503d</string>
	<key>DATABASE_URL</key>
	<string>https://poupe-agua.firebaseio.com</string>
</dict>
</plist>